{
    "compiler": "modular",
    "name": "diplomafe",
    "version": "0.0.0",
    "dependencies": {},
    "alias": {
        "Jibs": "./src/scripts/libs",
        "Cibs": "./src/styles/libs",
        "Utils": "./src/scripts/utils",
        "CommonStr": "./src/scripts/views/common",
        "Common": "./src/scripts/common",
        "Views": "./src/scripts/views"
    },
    "export": [
        "scripts/home.js",
        "scripts/register.js",
        "scripts/login.js",
        "scripts/ask.js",
        "styles/home.scss"
    ]
}
